.button {
    cursor: pointer;
    background-color: #48B774;
    border-radius: 30px;
    border: none;
    line-height: normal;
    width: 108px;
    height: 42px;
    font-weight: 400;
    font-size: 16px;
    color: #ffff;
    transition: 0.5s all;
    &:hover {
        transform: scale(110%);
        filter: brightness(97%);
        transition: 0.5s all;
    }
    &_get {
        margin-top: 30px;
        width: 128px;
        height: 46px;
        font-size: 15px;
    }
    &_search {
        position: absolute;
        height: 55px;
        width: 55px;
        right: 5px;
        top: 6%;
        padding: 0;
        img {
            width: 26px;
            height: 26px;
            margin: auto 0;
        }
    }
}